<!doctype html>
<html lang=de>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=icon href=favicon.ico>
    <link rel=stylesheet href="app.css">
    <title>Inspiration des Tages</title>
    <script src="vue.js"></script>
    <script src="vue-router.js"></script>
</head>
<body>
<div id="app">
    <section>
        <h1><a href="#/" :title="today">Inspiration des Tages</a></h1>
        <router-view></router-view>
        <nav>
            <router-link class="button prev" :to="{ path: '/happiness/' + this.prev }" v-if="prev" :title="prev">&lt;&lt; vergangenes</router-link>
            <router-link class="button next" :to="{ path: '/happiness/' + this.next }" v-if="next" :title="next">n&auml;chstes &gt;&gt;</router-link>
        </nav>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>
