<!doctype html>
<html lang=de>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=icon href=favicon.ico>
    <link rel=stylesheet href="app.css">
    <title>Inspiration of the day</title>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.4.3/dist/vue-router.js"></script>
</head>
<body>
<div id="app">
    <nav id="navigation" aria-label="Menu">
    <label for="toggle-mobile-menu" aria-label="Menu">&#9776;</label>
    <input id="toggle-mobile-menu" type="checkbox" />
    <ul id="main-menu">
    <router-link v-for="category in categories()" v-bind:key="category.id" :to="to(category)"><li>{{ category }} </li></router-link>
    <li><a href="#/about">About</a></li>
    </ul>
    </nav>
    <section>
        <h1><a href="#/" :title="today">Inspiration of the day</a></h1>
        <router-view></router-view>
        <nav>
            <router-link class="button prev" :to="to(category,prev)" v-if="prev" :title="prev">&lt;&lt; past</router-link>
            <router-link class="button next" :to="to(category,next)" v-if="next" :title="next">next &gt;&gt;</router-link>
        </nav>
    </section>
</div>
<script src="quotes.js"></script>
<script src="app.js"></script>
</body>
</html>
